
/* Estilos... */
body {
  font-family: 'Work Sans', sans-serif;
	background-color: #dddddd;
}

.content {
	background-color: white;
	width: 950px;
	margin: auto;
	padding: 0;
}

.top {
	background-color: #0598b2;
	height: 45px;
	padding-left: 10px;
	padding-top: 30px;
	color: white;
}

.title {
	font-size: 25px;
}

.subtitle {
	font-size: 13px;
}

.item {
	cursor: pointer;
	display: inline;
	padding: 3px;
}

.menu {
	display: block;
	margin-top: 6px;
	font-size: 14px;
}

.item:hover {
	background-color: #0598b2;
	color: white;
}

.link1 {
	color: black;
    text-decoration: none;
}

.link1:hover {
    text-decoration: none;
	color: white;
}

.link1:link {
    text-decoration: none;
}

.link1:visited {
    text-decoration: none;
}

.link1:hover {
    text-decoration: none;
}

.link1:active {
    text-decoration: none;
}

.data {
	border-top-style: solid;
	border-top-width: 2px;
	border-top-color: #0598b2;
	margin-top: 5px;
	padding: 10px;
	font-size: 15px;
	text-align: justify;
}

.footer {
	margin-top: 5px;
	background-color: #0598b2;
	text-align: right;
	font-size: 12px;
	font-style: italic;
	color: white;
	padding: 2px;
	padding-right: 5px;
}

.post-title {
	font-size: 18px;
	font-weight: bold;
}

.post-subtitle {
	font-size: 11px;
}

.link2 {
	color: #0598b2;
    text-decoration: none;
}

.link2:hover {
    text-decoration: none;
	color: blue;
}

.link2:link {
    text-decoration: none;
}

.link2:visited {
    text-decoration: none;
}

.link2:hover {
    text-decoration: none;
}

.link2:active {
    text-decoration: none;
}

.link2p {
	margin-top: 3px;
}


